@import "tailwindcss" theme(static);
@import '@nuxt/ui';
@config "../../tailwind.config.ts";

button,
[role="button"] {
    cursor: pointer;
}

:disabled {
    cursor: default;
}

:root {
    --ui-border-inverted: #4CAF50;
}
